@{
}

<form action="/AppUser/Save" method="post">
    <input type="email" class="form-control w-25 mb-2" id="email" name="Email" placeholder="Email" required />

    <input type="password" class="form-control w-25 mb-2" id="password" name="Password" placeholder="Password" required />

    <input type="text" class="form-control w-25 mb-2" id="name" name="Name" placeholder="Name" required />

    <input type="text" class="form-control w-25 mb-2" id="surname" name="Surname" placeholder="Surname" required />

    <button type="submit" class="btn btn-outline-success">Registrati</button>
</form>